/* BASIC STYLES HERE */
.main{
  min-height: 80vh;
  max-height: 80vh;
}

header{
  min-height: 10vh;
  max-height: 10vh;

}

footer{
  min-height: 10vh;
  max-height: 10vh;

}

body{
  background-size: cover
}

.card{
  transform: translateY(-0%);
}

.strikethrough:checked + span {
  text-decoration: line-through;
}

.clock{
  text-shadow: rgb(43, 42, 42) 0px 0px 10px;
}

footer .quote{
  text-shadow: rgb(43, 42, 42) 0px 0px 10px;
}


footer .author{
opacity: 0;
transition: 0.5s;
}

footer:hover .author{
  transition: 0.5s;
  opacity: 100%;
  text-shadow: rgb(43, 42, 42) 0px 0px 10px;

}