/* BASIC STYLES HERE */
.main{
  min-height: 80vh;
  max-height: 80vh;
}

header{
  min-height: 10vh;
}

footer{
  min-height: 10vh;
}

body{
  background-size: cover
}

.card{
  transform: translateY(-0%);
}

.strikethrough:checked + span {
  text-decoration: line-through;
}
